body {
  background-color: #303136;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #000;
}

.button {
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  font-weight: bold;
  text-transform: none;
  box-shadow: 7px 7px 20px #2e2e2e,
              -7px -7px 20px #3d3d3d;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 7px 7px 20px #2e2e2e,
              -7px -7px 20px #3d3d3d;
  text-align: center;
}

.gallery-item h3 {
  margin-top: 0;
}

.gallery-item p {
  margin: 10px 0;
}
