* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #242943;
  color: #fff;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background-color: #fff;
  color: #242943;
  border-radius: 5px;
}

.hero {
  background-image: url('hero.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
 
